* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Heebo", sans-serif;
  background-color: rgba(255, 134, 86, 0.856);
  transition: all 0.5s ease;
}

.landing {
  min-height: 100vh;
  background-size: cover;
  padding: 0rem 5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}
.nav-links {
  display: flex;
  list-style:none;
}
.nav-links li {
  color: rgb(61, 61, 61);
  padding-left: 10rem;
  font-size: 1rem;
}
.nav-links a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
.nav-links a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
.nav-links a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  color: rgb(61, 61, 61);
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(61, 61, 61);
}

.intro {
  background: rgba(255, 134, 86, 0.856);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: rgba(255, 134, 86, 0.856);
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} 

.page2 {
  margin-top: auto;
  text-align: center;
  width: 70%;
}
.page2 h1 {
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: lighter;
}
.page2 p {
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: lighter;
}

section img {
  width: 80%;
  height: 67%;
  object-fit: cover;
}

.bg-active {
  background-color:slateblue;
}

